.contact {
  position: relative;
  height: 880px; }

.mail {
  width: 87px;
  height: 87px;
  background: url("../img/mail.svg") center no-repeat;
  background-color: #3EC2B9;
  left: -87px;
  position: absolute; }

.contact-block {
  width: 867px;
  height: 677px;
  background: #F8F8F8;
  position: absolute;
  bottom: 0;
  right: 0; }

.contact-title,
.contact-adress,
.contact-phone,
.contact-site {
  padding-left: 82px;
  min-width: 300px; }

.contact-title {
  padding-top: 73px;
  margin-bottom: 126px;
  font-size: 30px;
  font-weight: 700;
  color: #313131;
  text-transform: uppercase; }
  .contact-title span {
    text-transform: lowercase; }

.contact-adress {
  margin-bottom: 68px; }
  .contact-adress span {
    display: block;
    font-weight: 700; }

.soc {
  padding-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .soc a {
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 35px;
    border-radius: 24px; }
  .soc .facebook {
    background: url("../img/fb.svg") center no-repeat;
    background-color: rgba(39, 146, 139, 0.08); }
  .soc .whatsapp {
    background: url("../img/wa.svg") center no-repeat;
    background-color: rgba(39, 146, 139, 0.08); }
  .soc .instagram {
    background: url("../img/in.svg") center no-repeat;
    background-color: rgba(39, 146, 139, 0.08); }
  .soc .twitter {
    background: url("../img/tw.svg") center no-repeat;
    background-color: rgba(39, 146, 139, 0.08); }
  .soc .vkontakte {
    background: url("../img/.svg") center no-repeat;
    background-color: rgba(39, 146, 139, 0.08); }
