@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url("normalize.css");
@import url("main.css");
@import url("quest.css");
@import url("welcome.css");
@import url("contact.css");
@import url("modal.css");
* {
  font-family: 'Montserrat', sans-serif; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%;
  background: #FEFEFE; }

.container {
  min-width: 1440px; }

.active {
  font-weight: 700 !important;
  position: relative; }
  .active:before {
    content: "";
    display: block;
    width: 11px;
    height: 4px;
    top: 8px;
    left: -18px;
    background: #8FBA2E;
    position: absolute; }

/*header*/
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 27px 0px 30px 60px; }
  .header .logo {
    padding-top: 5px;
    margin-right: 250px; }

.header-nav {
  margin-right: 250px;
  padding-top: 14px; }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-nav ul li {
      margin-right: 76px;
      font-size: 14px; }
      .header-nav ul li:last-child {
        margin-right: 0; }
  .header-nav a {
    color: #313131; }
.header-contact{
  position: absolute;
  right: 0;
}
/**/
