.header-module {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-left: 46px;
  padding-top: 35px;
  width: 841px;
  height: 631px;
  background: #FEFEFE;
  z-index: 9999; }
  .header-module .col-md-6 {
    margin-right: 0 !important; }
  .header-module input {
    width: 356px;
    height: 63px;
    outline: none;
    border: 1px solid #E8E8E8;
    margin-bottom: 23px; }
    .header-module input:active, .header-module input:focus, .header-module input:hover {
      border: 1px solid #3EC2B9;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .header-module textarea {
    width: 746px;
    height: 167px;
    padding: 25px;
    resize: none;
    outline: none; }
    .header-module textarea:active, .header-module textarea:focus, .header-module textarea:hover {
      border: 1px solid #3EC2B9;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .header-module .form-group {
    margin-top: 45px;
    width: 746px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between; }

#us {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  #us:target {
    display: block; }

.module-headline {
  width: 260px;
  display: inline;
  color: #313131;
  font-size: 20px;
  font-weight: 700; }

.close-item {
  display: inline;
  position: absolute;
  right: 50px; }
  .close-item a {
    color: #3EC2B9; }

.send {
  display: block;
  position: absolute;
  right: 49px;
  margin-top: 16px;
  color: #fff;
  padding: 12px 60px;
  width: 218px;
  height: 49px;
  background: #3EC2B9;
  border-radius: 45px; }
