/*gallery*/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  margin: 0 auto; }

.big {
  width: 720px;
  height: 552px;
  background: url("../img/quest_big.png");
  position: relative; }

.big-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  background: rgba(0, 0, 0, 0.36);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  padding: 30px 40px 30px 75px;
  bottom: 0px; }

.big-contact__price {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff; }

.big-contact__link:hover {
  background: #A3CC47;
  text-decoration: none;
}

.big-contact__link {
  background: #8FBA2E;
  border-radius: 45px;
  padding: 12px 33px;
  font-weight: 700;
  color: #fff !important; }

.small {
  width: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.small-one {
  width: 365px;
  height: 276px;
  background: url("../img/quest_small-1.png"); }

.small-two {
  width: 365px;
  height: 276px;
  background: url("../img/quest_small-2.png"); }

/**/
.last {
  width: 355px;
  height: 552px;
  background: url("../img/quest_last.png");
  position: relative; }

.last-link:hover {
  background: #3B3B3B;
  text-decoration: none;
}

.last-link {
  position: absolute;
  bottom: 26px;
  right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  background: #262626;
  border-radius: 45px;
  font-weight: 700;
  color: #fff !important; }

.info {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 42px; }

.headline {
  margin-bottom: 52px;
  font-size: 20px;
  font-weight: 700;
  color: #313131; }

.presentation {
  padding-top: 52px;
  width: 660px;
  border-right: 1px solid #E8E8E8;
  padding-bottom: 72px; }
  .presentation .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .presentation .blocks hr {
      width: 566px;
      height: 1px;
      padding-left: 0;
      margin-bottom: 25px;
      margin-left: 0;
      background: #e8e8e8;
      border: 0;
      }
    .presentation .blocks .name {
      display: block;
      padding-left: 50px;
      width: 200px;
      border-right: 1px solid #E8E8E8;
      font-weight: 300;
      font-size: 14px;
      color: #9C9C9C;
      }
      .presentation .blocks .name span {
        line-height: 1.4;
        display: block;
        width: 180px;
        margin-top: 9px;
        font-weight: 700;
        color: #313131; }

.br-0 {
  border-right: 0px !important;
  padding-left: 50px !important;
  }

.desription {
  width: 660px;
  padding-top: 50px;
  width: 720px;
  padding-left: 78px; }
  .desription .headline {
    margin-bottom: 42px; }

.desription-text {
  width: 530px;
  line-height: 27px;
  font-size: 14px;
  font-weight: 500;
  color: #313131; }

/**/
.another-title {
  color: #313131;
  padding-left: 60px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 36px; }

.another {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 230px;
  padding-left: 60px; }
.another a{
  display: block;
  margin-right: 55px;
}
.block {
  width: 284px;
  height: 315px;
  background: #F8F8F8;
  border-radius: 13px;
  margin-right: 52px;
  margin-bottom: 50px; }
  .block:last-child {
    margin-right: 0; }

.block-logo {
  width: 284px;
  height: 195px;
  background: url("../img/a-quest.png");
  position: relative; }
  .block-logo p {
    width: 284px;
    position: absolute;
    padding: 10px 0;
    padding-left: 30px;
    bottom: 0;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF; }

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #313131;
  font-size: 12px;
  padding-top: 24px;
  padding-left: 6px; }
  .text p {
    padding-left: 20px;
    margin-bottom: 8px; }

.col-first {
  height: 75px;
  width: 160px;
  font-weight: 500;
  border-right: 1px solid #E8E8E8; }

.col-second {
  padding-left: 17px;
  text-align: right;
  font-weight: 700; }
