.welcome {
  width: 100%;
  height: 354px;
  background: url("../img/bg-all.png");
  background-size: cover;
  padding-top: 60px;
  padding-left: 65px;
  color: #fff;
  margin-bottom: 45px; }

.welcome-headline {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px; }

.welcome-text {
  width: 843px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8; }

/**/
.questroom {
  color: #313131;
  width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 60px; }
.questroom a:hover{
  text-decoration: none;
}
.questroom-headline {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 36px;
  padding-left: 60px; }

.quest-block {
  width: 384px;
  height: 315px;
  background: #F8F8F8;
  border-radius: 13px;
  margin-bottom: 44px; }

.quest__image {
  width: 384px;
  height: 195px;
  background: url("../img/quest_image.png");
  margin-bottom: 25px;
  position: relative; }
  .quest__image p {
    width: 384px;
    position: absolute;
    background: rgba(0, 0, 0, 0.54);
    bottom: 0px;
    margin-bottom: 0;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff; }

.quest-text {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .quest-text p {
    color: #313131;
    margin-bottom: 7px;}

.quest-col-first {
  width: 217px;
  padding-left: 30px;
  border-right: 1px solid #E8E8E8; }

.quest-col-second {
  padding-left: 74px;
  text-align: right;
  font-weight: 700; }
